
button {
  margin: 1px;
  font-size: 16px;
}

.processing {
  margin-left: 5px;
  color: purple;
}

.container {
  width: 300px;
}

.date {
  font-size: 20px;
  margin: 4px;
  color: orangered;
  text-align: center;
}