<table class="box">
  <tr>
    <th></th>
    <th *ngFor="#plant of all.plants">
      {{plant}}
    </th>
    <th></th>
  </tr>
  
  <tr *ngFor="#row of all.bundles; #i = index">
    <th>
      {{all.farms[i]}}
    </th>    
    <td *ngFor="#cell of row">
      {{cell}}
    </td>
    <th class="total">
      {{_plantsTotals[i]}}
    </th>
  </tr>
  
  <tr>
    <th></th>
    <th class="total" *ngFor="#farmTotal of _farmTotals">
      {{farmTotal}}
    </th>
    <th class="total grand">
      {{_total}}
    </th>
  </tr>
</table>
