<table class="box">
  <tr>
    <th></th>
    <th *ngFor="#plant of all.plants">
      {{plant}}
    </th>
    <th></th>
  </tr>
  
  <tr *ngFor="#row of all.bundles; #i = index">
    <th>
      {{all.farms[i]}}
    </th>    
    <td *ngFor="#cell of row">
      {{cell}}
    </td>
    <th class="total">
      {{all.farmTotals[i].quantity}}
    </th>
  </tr>
  
  <tr>
    <th></th>
    <th class="total" *ngFor="#plantTotal of all.plantTotals">
      {{plantTotal.quantity}}
    </th>
    <th class="total grand">
      {{all.grandTotal.quantity}}
    </th>
  </tr>
</table>

<!--<harvest-form [quantity]="quantity"></harvest-form>-->