.box {
  border: 1px solid gray; 
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none !important;
}
a:hover { 
  color: blue;
}

.special {
  color: #0a0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  width: 50%;
}

@media screen and (min-width: 20em) {
 
	li {
    width: 10%;
    height: 10%;
  }
  
}