.box {
  border: 1px solid gray; 
  margin: 20px;
  padding: 10px;
  font-size: 12px;
}

th, td {
  padding: 5px;
  border: 1px solid grey;
  text-align: center;
}

td:hover {
  background-color: lightyellow;
  color: blue;
  cursor: pointer;
  cursor: hand;
}

th {
  font-size: 12px;
}

.highlight {
  background-color: lightgoldenrodyellow;
}

.selected {
  background-color: yellow;
  color: red;
}

.selected:hover {
  background-color: yellow;
  color: red;
}

.total {
  color: maroon;
}

.grand {
  font-size: 14px;
  color: red;
}

.container {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.value {
  color: red;
  font-size: 20px;
}

form {
  width: 20%;
}