<div *ngIf="all != null && all.bundles != null">
  <table class="box">
    <tr>
      <th></th>
      <th *ngFor="#plant of all.plants">
        {{plant.code}}
      </th>
      <th (click)="addPlant()">+</th>
    </tr>

    <tr *ngFor="#farm of all.farms">
      <th>
        {{farm.code}}
      </th>
      <td *ngFor="#plant of all.plants" 
              (click)="editHarvest(farm.code, plant.code)" 
              [ngClass]="{
                selected: isSelected(farm.code, plant.code), 
                highlight: isHighlighted(farm.code, plant.code)
              }">
        {{ bundle(farm.code, plant.code) }}
      </td>
      <th class="total">
        {{all.farmTotals[farm.code]}}
      </th>
    </tr>

    <tr>
      <th (click)="addFarm()">+</th>
      <th class="total" *ngFor="#plant of all.plants">
        {{all.plantTotals[plant.code]}}
      </th>
      <th class="total grand">
        {{all.allTotal.quantity}}
      </th>
    </tr>
  </table>
</div>

<div class="container" *ngIf="showEditor">
  <form (ngSubmit)="onSubmit()" #harvestForm="ngForm">

    <div class="form-group">
      <label for="comment">Add Bundles <i><small>(-ve for remove)</small></i></label>
      <input type="number" #editor class="form-control" autofocus [(ngModel)]="quantity">
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!harvestForm.form.valid">Save</button>

  </form>
</div>