<table class="box">
  <tr>
    <th></th>
    <th *ngFor="#plant of all.plants">
      {{plant}}
    </th>
    <th></th>
  </tr>

  <tr *ngFor="#row of all.bundles; #f = index">
    <th>
      {{all.farms[f]}}
    </th>
    <td *ngFor="#cell of row; #p = index" (click)="editHarvest(f, p, harvestForm)" [ngClass]="{selected: isSelected(f,p), highlight: isHighlighted(f,p)}">
      {{cell}}
    </td>
    <th class="total">
      {{all.farmTotals[f].quantity}}
    </th>
  </tr>

  <tr>
    <th></th>
    <th class="total" *ngFor="#plantTotal of all.plantTotals">
      {{plantTotal.quantity}}
    </th>
    <th class="total grand">
      {{all.grandTotal.quantity}}
    </th>
  </tr>
</table>

<div class="container">
  <form (ngSubmit)="onSubmit()" #harvestForm="ngForm">

    <div class="form-group">
      <label for="comment">Bundles y</label>
      <input type="number" #editor class="form-control" autofocus [(ngModel)]="quantity">
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!harvestForm.form.valid">Save</button>

  </form>
</div>