.box {
  border: 1px solid gray; 
  margin: 20px;
  padding: 10px;
  font-size: 12px;
}

.clickable {
  cursor: pointer;
  cursor: hand;
  color: blue;
}

.data {
  text-align: center;
}

.center {
  text-align: center;
}

.data:hover {
  background-color: lightyellow;
}

.highlight {
  background-color: lightgoldenrodyellow;
}

.selected {
  background-color: yellow;
  color: red;
}

.selected:hover {
  background-color: yellow;
  color: red;
}

.total {
  color: maroon;
}

.light {
  color: #ccc;
  font-style: italic;
}

.grand {
  font-size: 20px;
  color: red;
}

.container {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.timeMode {
  padding-top: 15px;
  padding-left: 10px;
  font-size: 14px;
  text-align: left;
  color: #ccc;
}

.value {
  color: red;
  font-size: 20px;
}

form {
  max-width: 400px;
}