<h3>
  <span class="value">{{ harvest.quantity }}</span> bundles of
  <span class="value">{{ harvest.plant }}</span> harvested 
  for the farm <span class="value">{{ harvest.farm }}</span> 
  on <span class="value">{{harvest.date}}</span>: 
</h3>

<div [hidden]="submitted">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #harvestForm="ngForm">

      <div class="form-group">
        <label for="comment">Bundles</label>
        <input type="number" class="form-control" [(ngModel)]="harvest.quantity">
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!harvestForm.form.valid">Save</button>

    </form>
  </div>
</div>

<div [hidden]="!submitted">
  <div class="container">
    <div class="row">
      <div>Bundles</div>
      <div>{{ harvest.quantity }}</div>
    </div>
    <br>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>